    // The Begininng
.begin_main{
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
    overflow: hidden;
    .begin_btn{
        width: 270px;
        height: 70px;
        position: absolute;
        padding: 8px;
        border: solid 2px $fontcolor-dark;
        color: $fontcolor-dark;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        font-size: 3rem;
        text-align: center;
        &:hover{        

            border: solid 2px $fontcolor-dark;
            background-color: $primary-green;//$fontcolor-dark;
            color: $primary-white;
            cursor: pointer;
        }
    }
}

.indicate{
    opacity: 0.5;
    animation: begin_btn_indicator 0.8s linear 0s infinite forwards;
}

@keyframes begin_btn_indicator {
    from{
        transform: scale(1);
        opacity: 0.5;
        border: solid 2px $fontcolor-dark;
    }
    to{
        transform: scale(1.5);
        opacity: 0;
        border: solid 2px rgb(255, 255, 255);
    }
}