 .main_sidebar{
        position: relative;
        display: flex;
        background-color: rgb(66, 66, 66);
        color: $sidebar-fontcolor-dark;
        border-right: solid 5px rgb(3, 3, 3);
        // padding-right: 50px;
        transform: translateX(-83%);
        transition: all 150ms ease-in-out;
        height: 100%;
        width: 300px;
        overflow: hidden;
        z-index: 1000;
        &:hover{
            transform: translateX(0);
        }

    // Lists
        ul{
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
            width: 100%;
            height: 100%;
            margin: 5px auto;
            // border: solid 2px green;
            li{
                display: flex;
                // flex-direction: column-reverse;
                width: 95%;
                margin: 10px auto;
                transform: translateX(0);
                border-radius: $menu-left-border-radius;
                .active {
                    background-color: var(--primary-orangered);//rgb(255, 94, 0);
                    border-radius: 0;
                    transform: translateX(10px);
                    i{
                        transform: translateX(1400%) scale(1.5);;
                    }
                }
                i{
                    transition: transform 250ms ease-in-out;
                    transform: translateX(1450%) scale(1.5);
                }
                // 
                a{
                    display: block;
                    font-size: $menubar-left-fontsize;
                    text-decoration: none;
                    color: $sidebar-fontcolor-dark;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    // border:solid 2px yellow;
                    border-radius: $menu-left-border-radius;
                    background-color:$sidebar-forecolor-dark;
                    cursor: pointer;
                    user-select: none;
                    transition: all 250ms ease;
                    &:hover{
                    background-color:$sidebar-forecolor-dark-hover;
                    }
                   
                    i{
                        font-size:$menubar-left-fontsize;
                        color: white;
                        margin-right: 10px;
                        margin-left: 10px;
                        padding: 0;
                        vertical-align: middle;
                        // line-height: 18px;
                    }
                }
            }
        }
        &:hover ul li i{
            // color: red;
            transform: translateX(0) scale(1);
        }
    }