.main_summary{
    display: grid;
    grid-template-columns: 35px auto;
    grid-template-rows: 1fr;
    // justify-content: space-between;
    position: relative;
    // outline: solid 3px red;
    box-sizing: border-box;
    flex-direction: column;
    background-color: $primary-blue;
    color: $primary-white;
    border-left: solid 2px $primary-yellow;
    transform: translateX(5%);
    transition: all 150ms ease-in-out;
    height: 100%;
    width: 300px;
    overflow: hidden;
    z-index: 1000;

    // &:hover{
    //     transform: translateX(-83%);
    // }
        
    .summary_opener{
        position: relative;
        align-items:center;
        display: flex;
        align-items: center;
        transition: all 350ms ease;
        //$summary-tab-handle-width;
        height: 100%;
        transition: all 350ms ease-in-out;
        span{
            display: block;
            width: 25px;
            i{
                padding: 0;
                margin: 0;
                color: $primary-white;
                position: relative;
                transform: translateX(-25%);
                
            }
        }
        &:hover{
            background-color: $primary-lightestblue;
            cursor: pointer;
            // i{
            //    animation: chevron_attend 500ms ease-in-out infinite alternate;
            // }
        }
    }
    .summary_list{
        background-color: rgba(0, 0, 0, 0.253);
        
        color: red;
        // padding: 20px;
        // width: 78px;
        details{
            all: unset;
            width: 80%;
            color: $primary-white;
            background-color: $primary-black;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            list-style: none;
            cursor: pointer;
            border-left: solid 5px $primary-orangered;
        }
        summary{
            all: unset;
            width: 100%;
            color: $primary-white;
            background-color: $primary-black;
            border-radius: 5px;
            // margin: 10px;
            // padding: 10px;
            list-style: none;
            font-size: 1.5rem;
            border-left: solid 5px $primary-orangered;
            caret-color: white;
        }

            .config-bar {
                // border: solid 2px red;
                position: absolute;
                bottom: 50px;
                width: 90%;
                #config-btn{
                    all: unset;
                    color: $primary-white;
                    background-color: $primary-orangered;
                    width: 100%;
                    height: 30px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: bolder;
                    padding: auto;
                    text-align: center;
                    &:hover{
                        // color: ;
                        background-color: $primary-blue;
                        cursor: pointer;
                    }
                    &:active{
                        background-color: $primary-black;
                    }
                }
            }
    }


}