<section class="auto-load-loading__main_container">
    <div class="auto-load-loading__scroll_container">
        <div class="auto-load__main-splash">
            <div class="auto_profile_selector">
                <div class="auto_prof_splash_card">
                    <h3>Design Manually</h3>
                    <img src="../assets/images/design_manually.png">
                    <button ng-click="manual_selection('-100%')" class="btn_auto_profile btn_orangish">SELECT</button>
                </div>
                <div class="auto_prof_splash_card">
                    <h3>Load from Template</h3>
                    <img src="../assets/images/template_design.png">
                    <button ng-click="manual_selection('-200%')" class="btn_auto_profile btn_royal_blue">SELECT</button>
                </div>
            </div>
        </div>
        <div class="auto-load__manual">
            <div class="manual_load_design">
                <h3>Design Manually</h3>
                <div class="manual_load_design__div">
                    <div class="cards__container">
                        <div class="ins_card w_100 loads_container">
                            <h4>Select Appliances / Loads</h4>
                            <div class="loads_selection__div">
                                <fieldset>
                                    <legend>Load Selection</legend>
                                    <select size="2">
                                        <!-- <optgroup label="Theropods">
                                            <option ng-repeat="x in loads_data">{{x.Name}}</option>
                                        </optgroup> -->
                                        <optgroup ng-repeat="load_type in load_types" label="{{load_type}}">
                                            <option ng-repeat="x in loads_data | filter:load_type"
                                                ng-click="detectIndex(x)">{{x.Name}}</option>
                                        </optgroup>
                                    </select>
                                </fieldset>
                                <fieldset>
                                    <legend>Load Details</legend>
                                    <label>Power (Watts)</label> <input type="number" ng-model="RatedPower"
                                        placeholder="Rated Power in Watts"><br>
                                    <label>Recommended Profile - {{RecommendedProfile}}</label><br>
                                    <label>Scenario - {{Scenario}}</label><br>
                                    <label>Power Factor - {{PowerFactor}}</label><br>
                                </fieldset>
                                <button class="btn" ng-click="load_loading()">SELECT THE LOAD</button>
                                <button class="btn">AUTO USAGE LOAD</button>
                            </div>
                        </div>
                        <div class="ins_card w_100 white_bg">
                            <h4>Select the Usage Profile</h4>
                            <div>
                                <fieldset class="checkboxgroup">
                                    <legend>some label</legend>
                                    <select name="Cars" size="10">
                                        <option value="Merceders"> Merceders </option>
                                        <option value="BMW"> BMW </option>
                                        <option value="Jaguar"> Jaguar </option>
                                        <option value="Lamborghini"> Lamborghini </option>
                                        <option value="Ferrari"> Ferrari </option>
                                        <option value="Ford"> Ford </option>
                                    </select>
                                    <label><input type="checkbox"> checkbox 1</label>
                                    <label><input type="checkbox"> checkbox 2</label>
                                    <label><input type="checkbox"> checkbox 3</label>
                                    <label><input type="checkbox"> checkbox 4</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="ins_card w_50">
                            <h4>Load Aggregation</h4>
                            <select name="Cars" size="10">
                                <option value="Merceders"> Merceders </option>
                                <option value="BMW"> BMW </option>
                                <option value="Jaguar"> Jaguar </option>
                                <option value="Lamborghini"> Lamborghini </option>
                                <option value="Ferrari"> Ferrari </option>
                                <option value="Ford"> Ford </option>
                            </select>
                        </div>
                    </div>



                    <!-- <div style="width: 100%; background-color: red; height: 5900px;">TEST</div> -->
                </div>
                <div class="manual_load_design__btn_container">
                    <button ng-click="manual_selection('0')"
                        class="manual_load_design__btn btn_features btn_reset">RESET</button>
                    <button ng-click="alert('processing')"
                        class="manual_load_design__btn btn_features btn_process">PROCESS</button>
                </div>

            </div>
        </div>


        <div class="auto-load__template">
            <!-- <div class="auto_profile_selector">
                <div class="auto_prof_splash_card">
                    <h3>Back</h3>
                    <button ng-click="manual_selection('0')" class="btn_auto_profile btn_royal_blue">SELECT</button>
                </div>
            </div> -->
            <div class="sections_wrapper">
                <!-- For Top Control -->
                <div></div>
                <section class="template_main_container">
                    <div class="aside_container">
                        <div class="modal_marker_slide">
                            <div id="transfer_id" hidden></div>
                            <fieldset class="marker_timeInput__div">
                                <legend>Start Time</legend>
                                <input type="time" id="startTime__input">
                                <fieldset>
                                    <legend>Start Transition (Experimental)</legend>
                                    <input type="radio" id="start_trans_step" name="start_time_rise" value="Step">
                                                                      
                                    <label for="start_trans_step">Step</label>
                                    <input type="radio" id="start_trans_linear" name="start_time_rise" value="Linear">
                                    <label for="start_trans_linear">Linear</label>
                                    <input type="radio" id="start_trans_exponential" name="start_time_rise" value="Exponential">
                                    <label for="start_trans_exponential">Exponential</label>
                                </fieldset>
                            </fieldset>
                            <fieldset class="marker_timeInput__div">
                                <legend>End Time</legend>
                                <input type="time" id="endTime__input">
                                <fieldset>
                                    <legend>End Transition (Experimental)</legend>
                                    <input class="with-gap" type="radio" id="end_trans_step" name="end_time_rise" value="Step"><label
                                        for="end_trans_step">Step</label>
                                    <input type="radio" id="end_trans_linear" name="end_time_rise"
                                        value="Linear"><label for="end_trans_linear">Linear</label>
                                    <input type="radio" id="end_trans_exponential" name="end_time_rise"
                                        value="Exponential"><label for="end_trans_exponential">Exponential</label>
                                </fieldset>
                            </fieldset>
                            <fieldset class="marker_timeInput__div">
                                <legend>Parameters</legend>
                                <div class="slide_parameters__div">
                                    <span>Appliance</span>
                                    <input type="text" placeholder="Appliance" id="marker_appname">
                                    <span>Quantity</span>
                                    <input type="number" placeholder="Quantity" id="marker_load_qty">
                                    <span>Power in Watts</span>
                                    <input type="number" placeholder="Power" id="marker_load_power">
                                    <span>Related Model</span>
                                    <input type="text" placeholder="Model" id="marker_load_model">
                                    <div class="usage_frequency__div">
                                        <span>Usage Frequency</span>
                                        <form ng-model="usage_frequency" id=usage_frequency__form>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox" ng-model="usage_frequency.sunday"/>
                                                <span>Sunday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.monday"/>
                                                <span>Monday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.tuesday"/>
                                                <span>Tuesday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.wednesday"/>
                                                <span>Wednesday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.thursday"/>
                                                <span>Thursday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.friday"/>
                                                <span>Friday</span>
                                            </label>
                                            <label>
                                                <input type="checkbox" class="usage_day__checkbox"  ng-model="usage_frequency.saturday"/>
                                                <span>Saturday</span>
                                            </label>

                                            <label>
                                                <input type="checkbox" class="usage_allday__checkbox"  ng-model="usage_allday"/>
                                                <span>All Day</span>
                                            </label>
                                        </form>
                                        <!-- <input type="text" placeholder="Model" id="marker_load_model"> -->
                                    </div>
                                    <br>
                                    <div class="reschedule_container">
                                        <label for="Re-Schedulable">Re-Schedulable</label>
                                        <input type="checkbox" name="Re-Schedulable" value="schedulable" id="marker_load_schedulable">
                                    </div>
                                </div>
                            </fieldset>

                            <div class="marker_modal_btnContainer">
                                <button id="marker_modal__okBtn">OK</button>
                                <button id="marker_modal__cancelBtn">CANCEL</button>
                            </div>
                        </div>
                        <!-- Room Templates -->
                        <fieldset class="load_types__fields">
                            <legend>Load Profile Templates</legend>
                            <div class="loads_container">
                                <select id="template_selector">
                                    <option>Select a Template</option>
                                    <option ng-repeat="template in template_data">{{template.arrange_name}}</option>
                                </select>
                                <div class="template_btnContainer">
                                    <button id="template_OK">OK</button>
                                    <button id="template_Cancel">CANCEL</button>
                                </div>
                                <!-- <div class="load_items" data-powerData="250" data-qtyData="1" data-modellingData="refrigerator_model"
                                        data-schedulableData="false" draggable="true" data-appName="Refrigerator">
                                        Refrigerator
                                    </div> -->
                            </div>
                        </fieldset>
                        <!-- load items -->
                        <fieldset class="load_types__fields">
                            <legend>Generic Loads</legend>
                            <div class="loads_container">
                                <input type="text" placeholder="Search" id="load_search">
                                <!-- Repeat loads -->
                                <div class="load_items" ng-repeat="load in loads_data"
                                draggable="true" 
                                data-powerData="{{load.rated_power}}"
                                data-qtyData="1"
                                data-modellingData="{{load.recommended_profile}}"
                                data-schedulableData="true"
                                data-powerfactor="{{load.power_factor}}"
                                data-appName="{{load.name}}"
                                data-scenario="{{load.scenario}}"
                                data-manufacturer="{{load.manufacturer}}"
                                data-type="{{load.type}}"
                                data-voltage="{{load.voltage}}">
                                {{load.name}}
                                </div>
                            </div>
                        </fieldset>

                        <fieldset class="load_types__fields">
                            <legend>Branded Loads</legend>
                            <details class="brands_container">
                                <summary>Air Conditioners (Inverter)</summary>
                                <div class="brand_items" ng-repeat="item in load__inverter_ac" callback-on-end="onEnd()"
                                    data-powerdata="{{item.energy_units_per_year}}" data-qtyData="1" data-modellingData="ac_inverter_model"
                                    data-schedulableData="false" draggable="true" data-appName="Air Conditioners (Inverter)">
                                    {{item.manufacturer}} - {{item.energy_units_per_year}} W - ({{item.bee_star}} Star)
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Air Conditioners (Non-Inverter)</summary>
                                <div class="brand_items" ng-repeat="item in load__ac_fixed" callback-on-end="onEnd()" data-powerdata="{{item.power_consumption_watts}}" data-qtyData="1"
                                    data-modellingData="ac_fixed_model" data-schedulableData="false" draggable="true" data-appName="Air Conditioners (Non-Inverter)">
                                    {{item.manufacturer}} - {{item.tonnage}} TON - ({{item.type}} - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Ceiling Fans</summary>
                                <div class="brand_items" ng-repeat="item in load__ceiling_fan" callback-on-end="onEnd()" data-powerdata="{{item.input_power_watts}}" data-qtyData="1"
                                    data-modellingData="ceiling_fan_model" data-schedulableData="false" draggable="true" data-appName="Ceiling Fans">
                                    {{item.manufacturer}} - {{item.input_power_watts}} W - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Computer Monitors</summary>
                                <div class="brand_items" ng-repeat="item in load__computer_monitors" callback-on-end="onEnd()" data-powerdata="{{item.onmode_power_watts}}" data-qtyData="1"
                                    data-modellingData="flat_model" data-schedulableData="false" draggable="true" data-appName="Computer Monitors">
                                    {{item.manufacturer}} - {{item.onmode_power_watts}} W - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Deep Freezer</summary>
                                <div class="brand_items" ng-repeat="item in load__deep_freezer" callback-on-end="onEnd()" data-powerdata="{{(item.annual_energy_kwh_per_year * 1000) / (365*24)}}" data-qtyData="1"
                                    data-modellingData="flat_model" data-schedulableData="false" draggable="true" data-appName="Deep Freezer">
                                    {{item.manufacturer}} - {{item.storage_volume_litres}} L - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Frost Free Refrigerator</summary>
                                <div class="brand_items" ng-repeat="item in load__frost_free_refrigerator" callback-on-end="onEnd()" data-powerdata="{{(item.energy_units_per_year * 1000) / (365*24)}}" data-qtyData="1"
                                    data-modellingData="refrigerator_model" data-schedulableData="false" draggable="true" data-appName="Frost Free Refrigerator">
                                    {{item.manufacturer}} - {{item.storage_volume_litres}} L - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>LED Lamp</summary>
                                <div class="brand_items" ng-repeat="item in load__LED_lamps" callback-on-end="onEnd()" data-powerdata="{{item.power_watts}}" data-qtyData="1"
                                    data-modellingData="lighting_model" data-schedulableData="false" draggable="true" data-appName="LED Lamp">
                                    {{item.manufacturer}} - {{item.power_watts}}W - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Flourescent Lamp</summary>
                                <div class="brand_items" ng-repeat="item in load__TFL" callback-on-end="onEnd()" data-powerdata="{{item.input_power_watts}}" data-qtyData="1"
                                    data-modellingData="lighting_model" data-schedulableData="false" draggable="true" data-appName="Flourescent Lamp">
                                    {{item.manufacturer}} - {{item.input_power_watts}}W - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Submersible Pump</summary>
                                <div class="brand_items" ng-repeat="item in load__submersible_pump" callback-on-end="onEnd()" data-powerdata="{{(item.rating_kw * 1000)}}" data-qtyData="1"
                                    data-modellingData="pump_model" data-schedulableData="false" draggable="true" data-appName="Submersible Pump">
                                    {{item.manufacturer}} - {{item.rating_kw}}kW - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Microwave</summary>
                                <div class="brand_items" ng-repeat="item in load__microwave" callback-on-end="onEnd()" data-powerdata="{{2000}}" data-qtyData="1"
                                    data-modellingData="kitchen_model" data-schedulableData="false" draggable="true" data-appName="Microwave">
                                    {{item.manufacturer}} - {{item.capacity_litres}}L - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Water Heater</summary>
                                <div class="brand_items" ng-repeat="item in load__water_heater" callback-on-end="onEnd()" data-powerdata="{{item.rated_power_watts}}" data-qtyData="1"
                                    data-modellingData="bathroom_model" data-schedulableData="false" draggable="true" data-appName="Water Heater">
                                    {{item.manufacturer}} - {{item.rated_capacity_litres}}L - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Chillers</summary>
                                <div class="brand_items" ng-repeat="item in load__chillers" callback-on-end="onEnd()" data-powerdata="{{item.cooling_capacity_kw}}" data-qtyData="1"
                                    data-modellingData="cooling_model" data-schedulableData="false" draggable="true" data-appName="Chillers">
                                    {{item.manufacturer}} - {{item.tonnage}} Ton - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Washing Machine</summary>
                                <div class="brand_items" ng-repeat="item in load__washing_machine" callback-on-end="onEnd()" data-powerdata="{{2000}}" data-qtyData="1"
                                    data-modellingData="cooling_model" data-schedulableData="false" draggable="true" data-appName="Washing Machine">
                                    {{item.manufacturer}} - {{item.capacity_kg}} Kg - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Openwell Submersible Pump</summary>
                                <div class="brand_items" ng-repeat="item in load__openwell_sub_pump" callback-on-end="onEnd()" data-powerdata="{{item.rating_in_kw * 1000}}" data-qtyData="1"
                                    data-modellingData="pump_model" data-schedulableData="false" draggable="true" data-appName="Openwell Submersible Pump">
                                    {{item.manufacturer}} - {{item.rating_in_kw}} kW - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Monoset Pump</summary>
                                <div class="brand_items" ng-repeat="item in load__monoset_pump" callback-on-end="onEnd()" data-powerdata="{{item.pump_set_rating_kw * 1000}}" data-qtyData="1"
                                    data-modellingData="pump_model" data-schedulableData="false" draggable="true" data-appName="Monoset Pump">
                                    {{item.manufacturer}} - {{item.pump_set_rating_kw}} kW - ({{item.bee_star}} Star)                            
                                </div>
                            </details>
                            <details class="brands_container">
                                <summary>Direct Cool Refrigerator</summary>
                                <div class="brand_items" ng-repeat="item in load__direct_cool_refrigerator" callback-on-end="onEnd()" data-powerdata="{{(item.energy_consumption_per_year * 1000)/(365*24)}}" data-qtyData="1"
                                    data-modellingData="refrigerator_model" data-schedulableData="false" draggable="true" data-appName="Direct Cool Refrigerator">
                                    {{item.manufacturer}} - {{item.storage_volume_litres}} L - ({{item.bee_star}} Star)                            
                                </div>
                            </details>


                        </fieldset>


                    </div>
                    <div id="slider_container" class="load_designspace__div">
                        <div class="load_excess__div">Instinct Grid</div>
                        <div class="load_range__div">
                            <!-- <input type="range" min="0" max="23" step="1" list="steplist" id="load_range__slider"> -->
                            <datalist id="steplist">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                            </datalist>
                        </div>
                        <div class="load_infobar__div">
                            <div class="load_info"></div>
                            <div class="load_info"></div>
                        </div>
                        <div class="loads_grid__div">
                            <!-- Gridlines -->
                            <!-- <div id="load_gridlines"></div> -->
                            <div class="load_track__div"></div>
                            <div class="load_track__div"></div>
                        </div>
                        <div id="add_track_id" class="add_track__div">
                            Add New Track
                        </div>
                    </div>
                </section>
                <section class="grid_control__div">
                    <button id="save_grid" ng-click="test11()">SAVE SCHEDULES</button>
                    <button id="load_grid">LOAD SCHEDULES</button>
                    <button id="clear_grid">CLEAR</button>
                    <button id="align_grid">RE-ALIGN</button>
                </section>
                <section class="processing_info__div">
                    <button id="process_data">PROCESS DATA</button>
                    <div id="status__div"></div>
                </section>
                <section>
                    <progress max="100" min="0" value="10" id="model_progress"></progress>
                </section>
                <section class="plotter">
                    <div class="plotter_1">

                    </div>
                    <div class="plotter_2">

                    </div>
                </section>
                <!-- For Bottom Control -->
                <div></div>
            </div>
        </div>
    </div>
</section>